extends layout

block content
    #crime-card-container
        - for (var i=0; i<data.length; i++) {
            div.crime-card(data-crime=data[i].crime)
                h3.card-name=data[i].name
                .card-image-slot 
                    .card-image-box
                        img(src=data[i].img)
                .card-description.draggable(class=`desc-slot${i}`)
        - }


    #crime-description-container.draggable(class=`desc-${i}`)
        - for (var i=0; i<data.length; i++) {
            .crime-description-card=data[i].crime
        - }



